<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>셀러비전</title>
  <link rel="stylesheet" href="pagestyle.css" type="text/css">
  <link rel="stylesheet/sass" type="text/css" href="pagestyles.sass" />
  <script src="page.js"></script>
  <script src="../db/survey_db.js"></script>
  
</head>

<body>
  <div class="slide">
    <input type="radio" name="pos" id="pos1" style="display: none;" onclick="next_page()" checked>
    <input type="radio" name="pos" id="pos2" style="display: none;" onclick="next_page()">
    <input type="radio" name="pos" id="pos3" style="display: none;"  onclick="next_page()">
    <input type="radio" name="pos" id="pos4" style="display: none;"  onclick="next_page()">
    <input type="radio" name="pos" id="pos5" style="display: none;"  onclick="next_page()">
    <input type="radio" name="pos" id="pos6" style="display: none;"  onclick="next_page()">
    <input type="radio" name="pos" id="pos7" style="display: none;"  onclick="next_page()">
    <input type="radio" name="pos" id="pos8" style="display: none;"  onclick="next_page()">
    <input type="radio" name="pos" id="pos9" style="display: none;"  onclick="next_page()">
    <input type="radio" name="pos" id="pos10" style="display: none;"  onclick="next_page()">
    <input type="radio" name="pos" id="pos11" style="display: none;"  onclick="next_page()">
    <input type="radio" name="pos" id="pos12" style="display: none;"  onclick="next_page()">
    <input type="radio" name="pos" id="pos13" style="display: none;"  onclick="next_page()">
    <input type="radio" name="pos" id="pos14" style="display: none;"  onclick="next_page()">
    <input type="radio" name="pos" id="pos15" style="display: none;"  onclick="next_page()">
    <input type="radio" name="pos" id="pos16" style="display: none;"  onclick="next_page()">
    <ul>
      <li>
        <div class="container">
          <div class ="num">
            <div class="Q_header_bold"><p>Q1</p></div>
            <div class="Q_header"><p>/15</p></div>
          </div>
          <div class="outer">
            <div class="inner">
              <div class="question">기업 정보에 관한 질문입니다.</div>
              <div class="answer">
                <a class="select" id="q1 a1" href='javascript:void(0);' value ='no' onclick="click_select(1, id);">1. 제조사</a>
                <a class="select" id="q1 a2" href='javascript:void(0);' value ='no' onclick="click_select(1, id);">2. 유통사</a>
                <a class="select" id="q1 a3" href='javascript:void(0);' value ='no' onclick="click_select(1, id);">3. 제조사+유통사</a>
                <a class="select" id="q1 a4" href='javascript:void(0);' value ='no' onclick="click_select(1, id);">4. 기타</a>
              </div>
            </div>
          </div>
          <button class="next"><label for="pos2" style="cursor: pointer;" onclick="next_page();">next</label></button>
        </div>
      </li>
      <li>
        <div class="container">
          <div class ="num">
            <div class="Q_header_bold"><p>Q2</p></div>
            <div class="Q_header"><p>/15</p></div>
          </div>
          <div class="outer">
            
            <div class="inner">
              <div class="question">홈쇼핑 필요성에 관한 질문입니다.</div>
              <div class="answer">
                <a class="select" id="q2 a1" href='javascript:void(0);' value ='no' onclick="click_select(2, id);">1. 반드시(절실히) 필요하다</a>
                <a class="select" id="q2 a2" href='javascript:void(0);' value ='no' onclick="click_select(2, id);">2. 필요하다</a>
                <a class="select" id="q2 a3" href='javascript:void(0);' value ='no' onclick="click_select(2, id);">3. 보통이다</a>
                <a class="select" id="q2 a4" href='javascript:void(0);' value ='no' onclick="click_select(2, id);">4. 필요하지 않다</a>
                <a class="select" id="q2 a5" href='javascript:void(0);' value ='no' onclick="click_select(2, id);">5. 전혀 필요하지 않다</a>
              </div>
            </div>
          </div>
          <button class="next"><label for="pos3" style="cursor: pointer;" onclick="next_page()">next</label></button>
        </div>
      </li>
      <li>
        <div class="container">
          <div class ="num">
            <div class="Q_header_bold"><p>Q3</p></div>
            <div class="Q_header"><p>/15</p></div>
          </div>
          <div class="outer">
            <div class="inner">
              <div class="question">홈쇼핑이 필요한 이유에 관한 질문입니다.</div>
              <div class="answer">
                <a class="select" id="q3 a1" href='javascript:void(0);' value ='no' onclick="click_select(3, id);">1. 한 번에 많은 매출과 이익을 내고 싶어서</a>
                <a class="select" id="q3 a2" href='javascript:void(0);' value ='no' onclick="click_select(3, id);">2. 홍보하고 싶어서</a>
                <a class="select" id="q3 a3" href='javascript:void(0);' value ='no' onclick="click_select(3, id);">3. 재고를 판매하고 싶어서</a>
                <a class="select" id="q3 a4" href='javascript:void(0);' value ='no' onclick="click_select(3, id);">4. 홈쇼핑을 해 보라는 제안을 받아서</a>
                <a class="select" id="q3 a5" href='javascript:void(0);' value ='no' onclick="click_select(3, id);">5. 정부지원사업에 홈쇼핑 분야를 신청해서</a>
                <a class="select" id="q3 a6" href='javascript:void(0);' value ='no' onclick="click_select(3, id);">6. 기타</a>
              </div>
            </div>
          </div>
          <button class="next"><label for="pos4" style="cursor: pointer;" onclick="next_page()">next</label></button>
        </div>
      </li>
      <li>
        <div class="container">
          <div class ="num">
            <div class="Q_header_bold"><p>Q4</p></div>
            <div class="Q_header"><p>/15</p></div>
          </div>
          <div class="outer">
           
            <div class="inner">
              <div class="question">상품과 관련된 특허가 등록되어 있나요?</div>
              <div class="answer">
               <a class="select" id="q4 a1" href='javascript:void(0);' value ='no' onclick="click_select(4, id);">1. 등록되어 있다</a>
               <a class="select" id="q4 a2" href='javascript:void(0);' value ='no' onclick="click_select(4, id);">2. 등록되어 있지 않다</a>
              </div>
            </div>
          </div>
          <button class="next"><label for="pos5" style="cursor: pointer;" onclick="next_page()">next</label></button>
        </div>
      </li>
      <li>
        <div class="container">
          <div class ="num">
            <div class="Q_header_bold"><p>Q5</p></div>
            <div class="Q_header"><p>/15</p></div>
          </div>
          <div class="outer">
   
            <div class="inner">
              <div class="question">입점되어 있나요?</div>
              <div class="answer">
                <a class="select" id="q5 a1" href='javascript:void(0);' value ='no' onclick="click_select(5, id);">1. 입점되어 있다</a>
                <a class="select" id="q5 a2" href='javascript:void(0);' value ='no' onclick="click_select(5, id);">2. 입점되어 있지 않다</a>
              </div>
            </div>
          </div>
          <button class="next"><label for="pos6" style="cursor: pointer;" onclick="next_page()">next</label></button>
        </div>
      </li>
      <li>
        <div class="container">
          <div class ="num">
            <div class="Q_header_bold"><p>Q6</p></div>
            <div class="Q_header"><p>/15</p></div>
          </div>
          <div class="outer">
      
            <div class="inner">
              <div class="question">국가공인인증기관에서 기술(기능)에 대한<br>시험성적서 또는 임상을 받으셨나요?</div>
              <div class="answer">
                <a class="select" id="q6 a1" href='javascript:void(0);' value ='no' onclick="click_select(6, id);">1. 인증 받았다</a>
                <a class="select" id="q6 a2" href='javascript:void(0);' value ='no' onclick="click_select(6, id);">2. 인증 받지 않았다</a>
              </div>
            </div>
          </div>
          <button class="next"><label for="pos7" style="cursor: pointer;" onclick="next_page()">next</label></button>
        </div>
      </li>
      <li>
        <div class="container">
          <div class ="num">
            <div class="Q_header_bold"><p>Q7</p></div>
            <div class="Q_header"><p>/15</p></div>
          </div>
          <div class="outer">

            <div class="inner">
              <div class="question">홈쇼핑 진입을 위한 상품 독점구성이<br>가능한가요?</div>
              <div class="answer">
                <a class="select" id="q7 a1" href='javascript:void(0);' value ='no' onclick="click_select(7, id);">1. 가능하다</a>
                <a class="select" id="q7 a2" href='javascript:void(0);' value ='no' onclick="click_select(7, id);">2. 불가능하다</a>
              </div>
            </div>
          </div>
          <button class="next"><label for="pos8" style="cursor: pointer;" onclick="next_page()">next</label></button>
        </div>
      </li>
      <li>
        <div class="container">
          <div class ="num">
            <div class="Q_header_bold"><p>Q8</p></div>
            <div class="Q_header"><p>/15</p></div>
          </div>
          <div class="outer">

            <div class="inner">
              <div class="question">정상가 대비 할인판매가를 20% 이상<br>가능한가요?</div>
              <div class="answer">
                <a class="select" id="q8 a1" href='javascript:void(0);' value ='no' onclick="click_select(8, id);">1. 가능하다</a>
                <a class="select" id="q8 a2" href='javascript:void(0);' value ='no' onclick="click_select(8, id);">2. 불가능하다</a>
              </div>
            </div>
          </div>
          <button class="next"><label for="pos9" style="cursor: pointer;" onclick="next_page()">next</label></button>
        </div>
      </li>
      <li>
        <div class="container">
          <div class ="num">
            <div class="Q_header_bold"><p>Q9</p></div>
            <div class="Q_header"><p>/15</p></div>
          </div>
          <div class="outer">
            <div class="inner">
              <div class="question">최저가 상품공급 및 공급률 50% 이내로<br>공급이 가능한가요?</div>
              <div class="answer">
                <a class="select" id="q9 a1" href='javascript:void(0);' value ='no' onclick="click_select(9, id);">1. 가능하다</a>
                <a class="select" id="q9 a2" href='javascript:void(0);' value ='no' onclick="click_select(9, id);">2. 불가능하다</a>
              </div>
            </div>
          </div>
          <button class="next"><label for="pos10" style="cursor: pointer;" onclick="next_page()">next</label></button>
        </div>
      </li>
      <li>
        <div class="container">
          <div class ="num">
            <div class="Q_header_bold"><p>Q10</p></div>
            <div class="Q_header"><p>/15</p></div>
          </div>
          <div class="outer">
            <div class="inner">
              <div class="question">[중복체크 가능]<br>본 상품을 구매하는 연령층은 어떻게 되나요?</div>
              <div class="answer">
                <a class="select" id="q10 a1" href='javascript:void(0);' value ='no' onclick="mult_select(10, id);">1. 10대</a>
                <a class="select" id="q10 a2" href='javascript:void(0);' value ='no' onclick="mult_select(10, id);">2. 10대 ~ 30대 초반</a>
                <a class="select" id="q10 a3" href='javascript:void(0);' value ='no' onclick="mult_select(10, id);">3. 30대 중반 ~ 40대 초반</a>
                <a class="select" id="q10 a4" href='javascript:void(0);' value ='no' onclick="mult_select(10, id);">4. 40대 중반 ~ 50대 후반</a>
                <a class="select" id="q10 a5" href='javascript:void(0);' value ='no' onclick="mult_select(10, id);">5. 60대 이상 ~</a>
              </div>
            </div>
          </div>
          <button class="next"><label for="pos11" style="cursor: pointer;" onclick="next_page()">next</label></button>
        </div>
      </li>
      <li>
        <div class="container">
          <div class ="num">
            <div class="Q_header_bold"><p>Q11</p></div>
            <div class="Q_header"><p>/15</p></div>
          </div>
          <div class="outer">
   
            <div class="inner">
              <div class="question">[중복체크 가능]<br>본 상품은 주로 어느 계절에 고객들이<br>구매하나요?</div>
              <div class="answer">
                <a class="select" id="q11 a1" href='javascript:void(0);' value ='no' onclick="mult_select(11, id);">1. 봄</a>
                <a class="select" id="q11 a2" href='javascript:void(0);' value ='no' onclick="mult_select(11, id);">2. 여름</a>
                <a class="select" id="q11 a3" href='javascript:void(0);' value ='no' onclick="mult_select(11, id);">3. 가을</a>
                <a class="select" id="q11 a4" href='javascript:void(0);' value ='no' onclick="mult_select(11, id);">4. 겨울</a>
              </div>
            </div>
          </div>
          <button class="next"><label for="pos12" style="cursor: pointer;" onclick="next_page()">next</label></button>
        </div>
      </li>
      <li>
        <div class="container">
          <div class ="num">
            <div class="Q_header_bold"><p>Q12</p></div>
            <div class="Q_header"><p>/15</p></div>
          </div>
          <div class="outer">
 
            <div class="inner">
              <div class="question">현재 유행(트렌드)하는 상품인가요?</div>
              <div class="answer">
                <a class="select" id="q12 a1" href='javascript:void(0);' value ='no' onclick="click_select(12, id);">1. 매우 그렇다</a>
                <a class="select" id="q12 a2" href='javascript:void(0);' value ='no' onclick="click_select(12, id);">2. 그렇다</a>
                <a class="select" id="q12 a3" href='javascript:void(0);' value ='no' onclick="click_select(12, id);">3. 보통이다</a>
                <a class="select" id="q12 a4" href='javascript:void(0);' value ='no' onclick="click_select(12, id);">4. 아니다</a>
                <a class="select" id="q12 a5" href='javascript:void(0);' value ='no' onclick="click_select(12, id);">5. 매우 아니다</a>
              </div>
            </div>
          </div>
          <button class="next"><label for="pos13" style="cursor: pointer;" onclick="next_page()">next</label></button>
        </div>
      </li>
      <li>
        <div class="container">
          <div class ="num">
            <div class="Q_header_bold"><p>Q13</p></div>
            <div class="Q_header"><p>/15</p></div>
          </div>
          <div class="outer">

            <div class="inner">
              <div class="question">시제품 개발 이후, 제품 생산(양산) 횟수는<br>몇 회 인가요?</div>
              <div class="answer">
                <a class="select" id="q13 a1" href='javascript:void(0);' value ='no' onclick="click_select(13, id);">1. 0회</a>
                <a class="select" id="q13 a2" href='javascript:void(0);' value ='no' onclick="click_select(13, id);">2. 1~2회</a>
                <a class="select" id="q13 a3" href='javascript:void(0);' value ='no' onclick="click_select(13, id);">3. 3~4회</a>
                <a class="select" id="q13 a4" href='javascript:void(0);' value ='no' onclick="click_select(13, id);">4. 5회 이상</a>
                <a class="select" id="q13 a5" href='javascript:void(0);' value ='no' onclick="click_select(13, id);">5. 세지 못할 만큼 많이</a>
              </div>
            </div>
          </div>
          <button class="next"><label for="pos14" style="cursor: pointer;" onclick="next_page()">next</label></button>
        </div>
      </li>
      <li>
        <div class="container">
          <div class ="num">
            <div class="Q_header_bold"><p>Q14</p></div>
            <div class="Q_header"><p>/15</p></div>
          </div>
          <div class="outer">
            <div class="Q_header_bold"><h1>Q14</h1></div>
            <div class="Q_header"><h2>/15</h2></div>
            <div class="inner">
              <div class="question">자체 공장 또는 OEM 계약 공장이 있나요? (해외공장 포함)</div>
              <div class="answer">
                <a class="select" id="q14 a1" href='javascript:void(0);' value ='no' onclick="click_select(14, id);">1. 있다</a>
                <a class="select" id="q14 a2" href='javascript:void(0);' value ='no' onclick="click_select(14, id);">2. 없다</a>
              </div>
            </div>
          </div>
          <button class="next"><label for="pos15" style="cursor: pointer;" onclick="next_page()">next</label></button>
        </div>
      </li>
      <li>
        <div class="container">
          <div class ="num">
            <div class="Q_header_bold"><p>Q15</p></div>
            <div class="Q_header"><p>/15</p></div>
          </div>
          <div class="outer">
            <div class="inner">
              <div class="question">상품을 생산할 수 있는 자금을 1~2회 정도 준비가 가능한가요? (ex : 1회분 평균 3,000세트 기준)</div>
              <div class="answer">
                <a class="select" id="q15 a1" href='javascript:void(0);' value ='no' onclick="click_select(15, id);">1. 가능하다</a>
                <a class="select" id="q15 a2" href='javascript:void(0);' value ='no' onclick="click_select(15, id);">2. 불가능하다</a>
              </div>
            </div>
          </div>
          <button class="next"><label for="pos16" style="cursor: pointer;" onclick="next_page();">next</label></button>
        </div>
      </li>
      <li>
        <div class="container">
          <div class="outer">
            <header style="display: block;">상담을 원하시면 정보를 입력해주세요</header>
            <div class="inner" style="display: block;">
              <div>
                <form id="form" class="topBefore" href="#">
                      <input id="name" type="text" placeholder="이름(업체명/상호명)">
                      <input id="product" type="text" placeholder="상품명 / 카테고리">
                      <input id="email" type="text" placeholder="E-MAIL">
                      <textarea id="message" type="text" placeholder="궁금하신 부분"></textarea>
                  <a id= "submit" onclick="submit_form();" href="report.html" >Submit!</a>
                </form>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <p class="bullet">
      <label for="pos1"></label>
      <label for="pos2"></label>
      <label for="pos3"></label>
      <label for="pos4"></label>
      <label for="pos5"></label>
      <label for="pos6"></label>
      <label for="pos7"></label>
      <label for="pos8"></label>
      <label for="pos9"></label>
      <label for="pos10"></label>
      <label for="pos11"></label>
      <label for="pos12"></label>
      <label for="pos13"></label>
      <label for="pos14"></label>
      <label for="pos15"></label>
      <label for="pos16"></label>
    </p>
  </div>
</body>
</html>