
@font-face{
  font-family: "GmarketSansBold";
  src:url("./font/GmarketSansTTFBold.woff") format("woff")
}
@font-face{
  font-family: "GmarketSans";
  src:url("./font/GmarketSansTTFLight.woff") format("woff")
}
@font-face{
  font-family: "GmarketSansmid";
  src:url("./font/GmarketSansTTFMedium.woff") format("woff")
}

*{
  margin:0;
  padding:0;
}

body
{
    width: 100%;
    height: 100%;
}

ul,li{
    list-style:none;
}

.slide{
    overflow:hidden;
    position:relative;
    font-weight: bold;
    color: #181f39;
    background-color:#fafafa;
}

.slide ul{
    width:calc(1800vw * 18);
    display:flex;
}

.slide li{
    width:calc(1800vw / 18);
    height:100vh;
}

.slide li:nth-child(even) {
    background-color: #181f39;
    color: #fafafa;
}

.slide .bullet{
    position:absolute;
    bottom:20px;
    left:0;
    right:0;
    text-align: center;
    z-index:10;
} 

.slide .bullet label{
    width:7px;
    height:7px;
    border-radius:10px;
    border:2px solid #666;
    display:inline-block;
    background:#fff;
    font-size:0;
    transition:0.5s;
    cursor:pointer;
}

.container {
    position: relative;
    width: 70%;
    height: 60%;
    margin: 5% auto;
    border-radius: 5px;
}

.outer {
    display: table;
    width: 100%;
    height: 100%;
}

.inner {
    display: block;
    text-align: center;
}

.question {
  display: block;
  font-size: 50px;
  padding-left: 20px;
  font-family: 'GmarketSansBold';
}

.answer {
  display: inline;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  padding-left: 7px;
  padding-right: 7x;
  font-family: 'GmarketSans';
}


.answer label {
  justify-content: space-between;
}

.inner a {
    text-decoration: none;
    color: inherit;
}

.select {
  display: block;
  padding: 8px;
  padding-left: 5%;
  font-size: 30px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

.select:hover {
  color:#e44178;
}

/* next button */

.next {
  text-align: center;
  text-transform: uppercase;
  font-size: 23px;
  letter-spacing: 4px;
  position: relative;
  background-color: #ffffff;;
  border: none;
  color: rgb(0, 0, 0);
  width: 100px;
  height: 40px;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #ffc7bd;
  border-radius: 20px;
  float: right;
  font-family: 'GmarketSansmid';
  /* box-shadow: 0 5px 15px #ff6b51;
  background-color: #e44178;;
  color: #fff; */
}

.next:hover {
  /* background: #fff;
  box-shadow: 0px 2px 10px 5px #ffc7bd;
  color: #000; */
  background: #fff;
  box-shadow: 0px 2px 10px 5px #ffc7bd;
  color: #000;
}

.next:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.next:focus { outline:0; }


/* 슬라이드 조작 */
#pos1:checked ~ ul{margin-left:0;}
#pos2:checked ~ ul{margin-left:-100%;}
#pos3:checked ~ ul{margin-left:-200%;}
#pos4:checked ~ ul{margin-left:-300%;}
#pos5:checked ~ ul{margin-left:-400%;}
#pos6:checked ~ ul{margin-left:-500%;}
#pos7:checked ~ ul{margin-left:-600%;}
#pos8:checked ~ ul{margin-left:-700%;}
#pos9:checked ~ ul{margin-left:-800%;}
#pos10:checked ~ ul{margin-left:-900%;}
#pos11:checked ~ ul{margin-left:-1000%;}
#pos12:checked ~ ul{margin-left:-1100%;}
#pos13:checked ~ ul{margin-left:-1200%;}
#pos14:checked ~ ul{margin-left:-1300%;}
#pos15:checked ~ ul{margin-left:-1400%;}
#pos16:checked ~ ul{margin-left:-1500%;}
#pos17:checked ~ ul{margin-left:-1600%;}
#pos18:checked ~ ul{margin-left:-1700%;}

/* bullet 조작 */
#pos1:checked ~ .bullet label:nth-child(1),
#pos2:checked ~ .bullet label:nth-child(2),
#pos3:checked ~ .bullet label:nth-child(3),
#pos4:checked ~ .bullet label:nth-child(4),
#pos5:checked ~ .bullet label:nth-child(5),
#pos6:checked ~ .bullet label:nth-child(6),
#pos7:checked ~ .bullet label:nth-child(7),
#pos8:checked ~ .bullet label:nth-child(8),
#pos9:checked ~ .bullet label:nth-child(9),
#pos10:checked ~ .bullet label:nth-child(10),
#pos11:checked ~ .bullet label:nth-child(11),
#pos12:checked ~ .bullet label:nth-child(12),
#pos13:checked ~ .bullet label:nth-child(13),
#pos14:checked ~ .bullet label:nth-child(14),
#pos15:checked ~ .bullet label:nth-child(15),
#pos16:checked ~ .bullet label:nth-child(16){background:#666;}


@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}


header {
  position: relative;
  margin: 50px 0 25px 0;
  font-size: 3.0em;
  text-align: center;
  letter-spacing: 7px;
  font-family: 'GmarketSansmid';
}

#form {
  
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  background-color: #fff;
  outline: none;
  /* color: #726659; */
  color: rgb(0, 0, 0);
  /* border: solid 1px #b3aca7; */
  border: solid 1px rgb(0, 0, 0);
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #e7e7e7;
  color: #000000;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  background-color: #fff;
  outline: none;
  
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  /* border: solid 1px #b3aca7; */
  border: solid 1px rgb(0, 0, 0);
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #e7e7e7;
  color: #000000;
}

#submit {
  border-radius: 40px;
  display: block;
  width: 500px;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  padding:0;
  margin: 0px 0px 0px 0px;
  color: rgb(0, 0, 0);
  background-color: #fff;
  font-family: "GmarketSansmid";
  outline:none;
  cursor: pointer;
  margin-top: 10px;
  border: solid 2px #fff;
}

#submit:hover {
  color: #e2dedb;
}

.Q_header_bold
{
  font-size: 30px;
  display: inline;
}

.Q_header
{
  font-size: 30px;
  display: inline;
}
