*{
    margin:0;
    padding:0;
}
@font-face{
  font-family: "GmarketSansBold";
  src:url("./font/GmarketSansTTFBold.woff") format("woff")
}
@font-face{
  font-family: "GmarketSans";
  src:url("./font/GmarketSansTTFLight.woff") format("woff")
}
body
{
    width: 100%;
    height: 100%;
}
ul,li{
    list-style:none;
}
.slide{
    overflow:hidden;
    position:relative;
    font-weight: bold;
    color: #181f39;
    background-color:#fafafa;
    border-radius: 5px;
}
.slide ul{
    width:calc(1800vw * 18);
    display:flex;
    transition:1s;
}
.slide li{
    width:calc(1800vw / 18);
    height:100vh;
}

.slide .question {
  font-size: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'GmarketSansBold';
}
.slide .answer {
  display: inline;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'GmarketSans';
}
.answer label {
  justify-content: space-between;
}

.slide li:nth-child(even) {
    background-color: #181f39;
    color: #fafafa;
}

.slide .bullet{
    position:absolute;
    bottom:20px;
    left:0;
    right:0;
    text-align: center;
    z-index:10;
} 

.slide .bullet label{
    width:7px;
    height:7px;
    border-radius:10px;
    border:2px solid #666;
    display:inline-block;
    background:#fff;
    font-size:0;
    transition:0.5s;
    cursor:pointer;
}

.container {
    position: relative;
    width: 70%;
    height: 60%;
    margin: 10% auto;
    border-radius: 5px;
}

.outer {
    display: table;
    width: 100%;
    height: 100%;
}

.inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.inner a {
    text-decoration: none;
    color: inherit;
}
  


.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #e44178;;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
  color: #fff;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: rgb(255, 255, 255);
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: #e44178;;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}

#btn--yp {
  box-sizing: content-box;
  position: fixed;
  z-index: 9;
  bottom: 1em;
  right: 1em;
  border: solid 1em transparent;
  width: 4.625em;
  height: 3.25em;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2017/icon-yp.svg) 50%/cover content-box;
  font: 16px/ 1.25 trebuchet ms, sans-serif;
  text-indent: 200vw;
  text-shadow: none;
  filter: grayscale(1) drop-shadow(0 0 1px #e8e0e0);
  transition: .5s;
  white-space: nowrap;
}
#btn--yp:before {
  box-sizing: inherit;
  position: absolute;
  left: 0;
  bottom: 100%;
  margin: 1em -.5em;
  padding: .5em;
  width: 100%;
  border-radius: 5px;
  background: #e8e0e0;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-indent: 0vw;
  white-space: normal;
  animation: float 1s ease-in-out infinite alternate;
  content: attr(data-txt);
}
#btn--yp:hover, #btn--yp:focus {
  outline: none;
  filter: grayscale(0) drop-shadow(0 0 1px crimson);
}

/* @keyframes float {
  to {
    transform: translateY(0.75em);
  }
} */

.answer .a {
  display: block;
  --p: 0;
  --q: calc(1 - var(--p));
  overflow: hidden;
  position: relative;
  z-index: 1;
  
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 20%;
  margin-right: 20%;
  padding: 5px;
}
.answer .a:before, .a:after {
  --i: var(--p);
  --j: calc(1 - var(--i));
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: calc(var(--j)*(100% - 12.36932em));
  width: 12.36932em;
  transform-origin: calc(var(--j)*100%) calc(var(--i)*100%);
  transform: rotate(-14.03624deg) translate(calc(var(--q)*(1 - 2*var(--i))*-100%));
  box-shadow: 0 0 0 1px currentcolor;
  background: currentcolor;
  color: #ef4654;
  transition: transform .5s ease-in-out;
  content: "";
}
.answer .a:after {
  --i: var(--q);
}
.answer .a:hover, .a:focus {
  --p: 1;
}



.next {
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 4px;
  position: relative;
  background-color: #e44178;;
  border: none;
  color: #fff;
  width: 100px;
  height: 20px;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #ff6b51;
  border-radius: 10px;
  float: right;
}

.next:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #ffc7bd;
  color: #000;
}

.next:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.next:focus { outline:0; }


/* 슬라이드 조작 */
#pos1:checked ~ ul{margin-left:0;}
#pos2:checked ~ ul{margin-left:-100%;}
#pos3:checked ~ ul{margin-left:-200%;}
#pos4:checked ~ ul{margin-left:-300%;}
#pos5:checked ~ ul{margin-left:-400%;}
#pos6:checked ~ ul{margin-left:-500%;}
#pos7:checked ~ ul{margin-left:-600%;}
#pos8:checked ~ ul{margin-left:-700%;}
#pos9:checked ~ ul{margin-left:-800%;}
#pos10:checked ~ ul{margin-left:-900%;}
#pos11:checked ~ ul{margin-left:-1000%;}
#pos12:checked ~ ul{margin-left:-1100%;}
#pos13:checked ~ ul{margin-left:-1200%;}
#pos14:checked ~ ul{margin-left:-1300%;}
#pos15:checked ~ ul{margin-left:-1400%;}
#pos16:checked ~ ul{margin-left:-1500%;}
#pos17:checked ~ ul{margin-left:-1600%;}
#pos18:checked ~ ul{margin-left:-1700%;}
#pos19:checked ~ ul{margin-left:-1800%;}

/* bullet 조작 */
#pos1:checked ~ .bullet label:nth-child(1),
#pos2:checked ~ .bullet label:nth-child(2),
#pos3:checked ~ .bullet label:nth-child(3),
#pos4:checked ~ .bullet label:nth-child(4),
#pos5:checked ~ .bullet label:nth-child(5),
#pos6:checked ~ .bullet label:nth-child(6),
#pos7:checked ~ .bullet label:nth-child(7),
#pos8:checked ~ .bullet label:nth-child(8),
#pos9:checked ~ .bullet label:nth-child(9),
#pos10:checked ~ .bullet label:nth-child(10),
#pos11:checked ~ .bullet label:nth-child(11),
#pos12:checked ~ .bullet label:nth-child(12),
#pos13:checked ~ .bullet label:nth-child(13),
#pos14:checked ~ .bullet label:nth-child(14),
#pos15:checked ~ .bullet label:nth-child(15),
#pos16:checked ~ .bullet label:nth-child(16),
#pos17:checked ~ .bullet label:nth-child(17),
#pos18:checked ~ .bullet label:nth-child(18){background:#666;}
