*{
    margin:0;
    padding:0;
}
@font-face{
  font-family: "GmarketSansBold";
  src:url("./font/GmarketSansTTFBold.woff") format("woff")
}
body
{
    width: 100%;
    height: 100%;
}

ul,li{
    list-style:none;
}
.slide{
    height:100%;
    overflow:hidden;
    position:relative;
}
.slide ul{
    width:calc(100% * 18);
    display:flex;
    transition:1s;
}
.slide li{
    width:calc(100% / 18);
    height:100vh;
    text-align: center;
    font-family: 'GmarketSansBold';
}

.slide {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #929796;
    border-radius: 5px;

}

.slide li:nth-child(odd) {
    background-color: white;
}

.slide input{
    display:none;
}

.slide .bullet{
    position:absolute;
    bottom:20px;
    left:0;
    right:0;
    text-align:
    center;z-index:10;
} 

.slide .bullet label{
    width:7px;
    height:7px;
    border-radius:10px;
    border:2px solid #666;
    display:inline-block;
    background:#fff;
    font-size:0;
    transition:0.5s;
    cursor:pointer;
}

.slide .container {
    position: relative;
    width: 70%;
    height: 60%;
    margin: 10% auto;
    border-radius: 5px;
    background: pink;
}

.slide .outer {
    display: table;
    width: 100%;
    height: 100%;
}

.slide .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.inner a {
    text-decoration: none;
    color: inherit;
  }
  
  .cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
        vertical-align: middle;
    text-align: center;
  }
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255, 171, 157, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }
  .cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  .cta:hover:before {
    width: 100%;
    background: #ffab9d;
  }
  .cta:hover svg {
    transform: translateX(0);
  }
  .cta:active {
    transform: scale(0.96);
}


.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(255, 171, 157, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: #ffab9d;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}
/* 슬라이드 조작 */
#pos1:checked ~ ul{margin-left:0;}
#pos2:checked ~ ul{margin-left:-100%;}
#pos3:checked ~ ul{margin-left:-200%;}
#pos4:checked ~ ul{margin-left:-300%;}
#pos5:checked ~ ul{margin-left:-400%;}
#pos6:checked ~ ul{margin-left:-500%;}
#pos7:checked ~ ul{margin-left:-600%;}
#pos8:checked ~ ul{margin-left:-700%;}
#pos9:checked ~ ul{margin-left:-800%;}
#pos10:checked ~ ul{margin-left:-900%;}
#pos11:checked ~ ul{margin-left:-1000%;}
#pos12:checked ~ ul{margin-left:-1100%;}
#pos13:checked ~ ul{margin-left:-1200%;}
#pos14:checked ~ ul{margin-left:-1300%;}
#pos15:checked ~ ul{margin-left:-1400%;}
#pos16:checked ~ ul{margin-left:-1500%;}
#pos17:checked ~ ul{margin-left:-1600%;}
#pos18:checked ~ ul{margin-left:-1700%;}
#pos19:checked ~ ul{margin-left:-1800%;}

/* bullet 조작 */
#pos1:checked ~ .bullet label:nth-child(1),
#pos2:checked ~ .bullet label:nth-child(2),
#pos3:checked ~ .bullet label:nth-child(3),
#pos4:checked ~ .bullet label:nth-child(4),
#pos5:checked ~ .bullet label:nth-child(5),
#pos6:checked ~ .bullet label:nth-child(6),
#pos7:checked ~ .bullet label:nth-child(7),
#pos8:checked ~ .bullet label:nth-child(8),
#pos9:checked ~ .bullet label:nth-child(9),
#pos10:checked ~ .bullet label:nth-child(10),
#pos11:checked ~ .bullet label:nth-child(11),
#pos12:checked ~ .bullet label:nth-child(12),
#pos13:checked ~ .bullet label:nth-child(13),
#pos14:checked ~ .bullet label:nth-child(14),
#pos15:checked ~ .bullet label:nth-child(15),
#pos16:checked ~ .bullet label:nth-child(16),
#pos17:checked ~ .bullet label:nth-child(17),
#pos18:checked ~ .bullet label:nth-child(18){background:#666;}