@charset "utf-8";

body {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    font-family: sans-serif;
    background-color: #ffffff;
}

.header{
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.container{
        position: relative;
        width: 70%;
        height: 60%;
        margin:  auto;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 10px;
}

.grid-item {
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: rgb(255, 234, 238);
    border-radius: 5px;
}
.content {
    padding: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    background-color: white;
}

.grid-item:nth-child(odd) {
    background-color:rgb(224, 224, 224);
}

.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.span-3 {
    grid-column-end: span 2;
    grid-row-end: span 3;
}
